/* Background image */
#backgroundimage{
  position: absolute;
  height: 100%;
  left: 0;
  margin: 0;
  min-height: 100%;
  min-width: 674px;
  padding: 0;
  top: 0;
  width: 100%;
  z-index: -1;
  background-size: cover;
}

/* Landing page text*/
#text{
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.link-on-landing{
  text-align: center;
  text-decoration: none;
  color: aqua;
}
.link-on-landing:hover{
  text-decoration: none;
}
.main-welcome-text{
  text-align: center;
  color: azure;
}


/* Avatar options styling */
.avatar-container {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
  }
  
  .skin {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .eyes {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .mouth {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .dropdowns {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .dropdowns select {
    margin: 0 24px;
    background-color: blue;
    color: white;
    padding: 16px;
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    border-radius: 4px;
  }

  /* Change color of dropdown links on hover */
.dropdowns select:hover {background-color: #9dbbed;}

  /* Registrantion form */
.data-entry{
  border-radius: 5px;
  border: solid 2px #8a826d;
  background: rgba(242,242,242,0.5);
  padding: 20px;
  width: 40%;
  margin: auto;
  margin-top: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.username-entry, .avatar-entry{
  margin-top: 10px;
  margin-bottom: 10px;
}

input[type=text]{
  width: 60%;
  padding: 12px;
  border: 1px solid;
  border-radius: 4px;
  resize: vertical;
}

#registration-h2{
  text-align: center;
  margin-bottom: 20px;
}

input[type=submit] {
  background-color: blue;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 13px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: block;
}

.link-on-landing{
  background-color: blue;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 13px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Avatar on navbar */
.nav-item{ 
  position:relative;
}

.skin-navbar, .eyes-navbar, .mouth-navbar{
  position:absolute;
  height:40px;
  width:40px;
  top: 0;
  right: 0;
  transform: translate(-40%, 20%);
}

.avatar-in-navbar{
  margin:0;
  width:40px;
  height:40px;
}

/* Pair.php gameboard */
html,body{
  width: 100%;
  height: 100%;
}

#game-board{
  background-color: grey;
  width: 60%;
  height: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 10px;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  z-index: 0;
}

#button-to-start-game{
  background-color: blue;
  color: white;
  padding: 12px 20px;
  cursor: pointer;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#main{
  width:100%;
  height:100%;
  overflow: hidden;
}

#cards-layout{ 
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width:100%;
  height:100%;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  place-items: center;
}

.card{
  background-color: blue;
  height: 100px;
  width: 100px;
  cursor: pointer;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: transform 0.5s ease;
}

.card.flip {
  transform: rotateY(180deg);
}

.card img{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
}

/* After win */
#wrapper{
  text-align: center;
}

#button-on-pairs{
  background-color: blue;
  color: white;
  padding: 20px;
  cursor: pointer;
  z-index: 1;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin-top: 20px;
  width: 180px;
}

#button-on-pairs-win{
  background-color: blue;
  color: white;
  padding: 20px;
  cursor: pointer;
  z-index: 1;
  position: relative;
  margin-top: 20px;
  margin-right: 20px;
  width: 180px;
}

#h2-pairs{
  color:#fff;
  margin-left: 20px;
  margin-top: 10px;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Leaderboard */
#leaderboard-space{
  border-radius: 5px;
  border: solid 2px #8a826d;
  background: rgba(242,242,242,0.5);
  padding: 20px;
  width: 40%;
  height: 80%;
  margin: auto;
  margin-top: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#wrapper-leaderboard{
  border-radius: 5px;
  border: solid 2px #8a826d;
  background: rgba(242,242,242,0.5);
  padding: 20px;
  width: 80%;
  margin: auto;
  margin-top: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}